<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">

          <tabset>
              <tab heading="Login">
                  <div class="card-group mb-0">
                      <div class="card p-4">
                        
                        <div class="card-body">
                          <h1>Login</h1>
                          <p class="text-muted">Sign In to your account</p>
                          <div class="input-group mb-3">
                            <span class="input-group-addon"><i class="icon-user"></i></span>
                            <input type="email" required class="form-control" [(ngModel)]='Email'  placeholder="Email">
                          </div>
                          <div class="input-group mb-4">
                            <span class="input-group-addon"><i class="icon-lock"></i></span>
                            <input type="password" [(ngModel)]='Password' class="form-control" placeholder="Password" required>
                          </div>
                          <div class="row">
                            <div class="col-6">
                              <button type="button" (click)="Login(Email,Password)" class="btn btn-primary px-4">Login</button>
                            </div>
                            <div class="col-6 text-right">
                              <button type="button" aria-readonly="true" class="btn btn-link px-0">Forgot password?</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                        <div class="card-body text-center">
                          <div>
                            <h2>Sign up</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <button type="button" class="btn btn-primary active mt-3">Register Now!</button>
                          </div>
                        </div>
                      </div>
                    </div>
              </tab>
              <tab heading="Login As Beneficiary">
                  <div class="card-group mb-0">
                      <div class="card p-4">
                        
                        <div class="card-body">
                          <h3>Login As Beneficiary</h3>
                          <p class="text-muted">Sign In to your account</p>
                          <div class="input-group mb-3">
                            <span class="input-group-addon"><i class="icon-user"></i></span>
                            <input type="email" required class="form-control" [(ngModel)]='DocumentId'  placeholder="DocumentId">
                          </div>
                          <div class="input-group mb-4">
                            <span class="input-group-addon"><i class="icon-lock"></i></span>
                            <input type="password" [(ngModel)]='Phone' class="form-control" placeholder="Phone" required>
                          </div>
                          <div class="row">
                            <div class="col-6">
                              <button type="button" (click)="LoginBen(DocumentId,Phone)" class="btn btn-primary px-4">Login</button>
                            </div>
                            <div class="col-6 text-right">
                              <button type="button" aria-readonly="true" class="btn btn-link px-0">Forgot password?</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                        <div class="card-body text-center">
                          <div>
                            <h2>Sign up  As Beneficiary</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <button type="button" class="btn btn-primary active mt-3">Register Now!</button>
                          </div>
                        </div>
                      </div>
                    </div>
              </tab>
              
            </tabset>
        <!-- <div class="card-group mb-0">
          <div class="card p-4">
            
            <div class="card-body">
              <h1>Login</h1>
              <p class="text-muted">Sign In to your account</p>
              <div class="input-group mb-3">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input type="email" required class="form-control" [(ngModel)]='Email'  placeholder="Email">
              </div>
              <div class="input-group mb-4">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input type="password" [(ngModel)]='Password' class="form-control" placeholder="Password" required>
              </div>
              <div class="row">
                <div class="col-6">
                  <button type="button" (click)="Login(Email,Password)" class="btn btn-primary px-4">Login</button>
                </div>
                <div class="col-6 text-right">
                  <button type="button" aria-readonly="true" class="btn btn-link px-0">Forgot password?</button>
                </div>
              </div>
            </div>
          </div>
          <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
            <div class="card-body text-center">
              <div>
                <h2>Sign up</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button type="button" class="btn btn-primary active mt-3">Register Now!</button>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
