<div class="animated fadeIn">
    <div class="row">
      <h4>Tickets - Active alerts</h4>
      </div>
      <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header bg-danger">
                  <i class="fa fa-align-justify"></i> Beneficiaries Active Alerts
                </div>
                <div class="card-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Description</th>
                         <th>Location</th> 
                        <th>Created</th>
                        <th>IMEI</th>
                        <th>Type</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let ab of ActiveAlerts.ListData | paginate: { itemsPerPage: 10, currentPage: p }" >
                        <!-- <ul  *ngFor="let x of ActiveAlerts.ListData">
                          <li>MySel</li>
                        </ul> -->
                        <td>{{ab.Id}}</td>
                        <td>{{ab.PersonFullName}}<br/>
                        <span *ngFor="let a of ab.Alerts">
                            <span class="badge badge-danger" *ngIf="a.AlertId==10?true:false">geofence</span>
                            <span class="badge badge-danger" *ngIf="a.AlertId==12?true:false">Panic</span>
                            <span class="badge badge-danger" *ngIf="a.AlertId==1?true:false">Connection</span>
                          </span>
                        </td>
                        <td><button class="btn btn-primary">View Location</button></td>
                        <td>{{ab.Created}}</td>
                        <td>{{ab.IMEI}}</td>                   
                        <td>
                            <span class="badge badge-success" *ngIf="ab.WithAlerts">Device</span>
                            <span class="badge badge-danger" *ngIf="!ab.WithAlerts">User</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="">Prev</a></li>
                    <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul> -->
                  <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                  
<!-- <input type="button" (click)="getStart()" value="Start">&nbsp;&nbsp;<input type="button" (click)="getPrevious()" value="Previous >>">&nbsp;&nbsp;<input type="button" (click)="getNext()" value="Next >>">&nbsp;&nbsp;<input type="button" (click)="getEnd()" value="End"> -->
                  <!-- <div>
                      <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
                    </div> -->
                       
                    <ul class="pagination">
                      <li class="page-link" (click)="getStart()">start</li>
                     
                       <li class="page-link" (click)="getPrevious()"></li> 
                      
                      <li class="page-item" (click)="getNext()" class="page-link" >>></li>
                      <li class="page-item" class="page-link" (click)="getEnd()">End</li>
                    </ul>        
                                
                       
                      
                                  <!-- pager -->
                      <!--             <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                                      <li [ngClass]="{disabled:pager.currentPage === 1}">
                                          <a (click)="setPage(1)">First</a>
                                      </li>
                                      <li [ngClass]="{disabled:pager.currentPage === 1}">
                                          <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                                      </li>
                                      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                                          <a (click)="setPage(page)">{{page}}</a>
                                      </li>
                                      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                          <a (click)="setPage(pager.currentPage + 1)">Next</a>
                                      </li>
                                      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                          <a (click)="setPage(pager.totalPages)">Last</a>
                                      </li>
                                  </ul> -->
                            
                </div>
              </div>
      </div>
    </div><!--/.row-->
  </div>